data_scraper/data_scraper/__pycache__/__init__.cpython-39.pyc
data_scraper/data_scraper/spiders/__pycache__/__init__.cpython-39.pyc
data_scraper/data_scraper/spiders/__pycache__/tripadvisor_attraction_spider.cpython-39.pyc
data_scraper/data_scraper/__pycache__/settings.cpython-39.pyc
.gitignore
